/* Dashboard icons */

.fa-edit,
.fa-trash {
  margin-right: 1rem;
}

.fa-edit:hover,
.fa-trash:hover {
  background-color: rgb(189, 189, 189);
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0.4rem;
}

/* Navbar formatting */
#navbarbrand:hover,
#navbarlink:hover {
  color: rgb(194, 192, 192);
}

#navbarlink,
#navbarbrand {
  color: white;
  margin-right: 0.5rem;
  text-decoration: none;
}

#navbarbrand {
  font-size: 1.5rem;
}

/* Format headers */
#heading {
  margin: 20px 0;
}
