#root {
  min-height: 100%;
  background: #f6f6f6;
  font-family: "Montserrat", sans-serif;
}

#logo {
  margin-right: 0.6rem;
}

/* Padding */
.pd-btm {
  padding-bottom: 1rem;
}

hr {
  margin: 3rem 0;
}

.responsive-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  .responsive-flex {
    flex-direction: column;
    align-items: flex-start;
  }
}
/* Fonts */

.statistic {
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
}

.subheader {
  font-size: 24px;
  color: #9fb3c8;
}

.subtext {
  font-size: 12px;
  color: #829ab1;
}

.custom-field {
  margin-right: 0.5rem;
  overflow-wrap: break-word;
}

/* Forms */

.form-container {
  display: flex;
  justify-content: center;
}

.responsive-container {
  max-width: 440px;
  width: 90%;
  margin: 0 16px;
  padding-top: 3%;
  margin-bottom: 40px;
}

.responsive-container.login-container {
  margin: 0 16px;
  padding-top: 7%;
}

.custom-form h3 {
  text-align: center;
  margin-bottom: 28px;
}

.form-button {
  width: 100%;
}

.label,
.ant-form label {
  font-size: 16px;
  color: #829ab1;
  margin: 0 0 8px;
}

/* Modal */

.custom-modal {
  font-family: "Montserrat", sans-serif;
}

/* Alert */

.ant-alert {
  margin-bottom: 28px;
}

/* Tables */

td p {
  margin: 0;
}

.table-subheader {
  color: #334e68;
  font-size: 0.8em;
}

.ant-table-thead tr th {
  background: #334e68;
  color: #fff;
}

.ant-table-tbody {
  background: #f0f4f8;
}

tr:nth-child(even) {
  background-color: #d9e2ec;
}

/* Dashboard icons */

.fa-edit,
.fa-trash,
#button {
  margin-right: 1rem;
}

.fa-edit:hover,
.fa-trash:hover {
  background-color: rgb(189, 189, 189);
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0.4rem;
}

/* Navbar formatting */
#navbarbrand:hover,
#navbarlink:hover {
  color: #a5a5a5;
}

#navbarlink,
#navbarbrand {
  color: white;
  margin-right: 0.5rem;
  text-decoration: none;
}

#navbarbrand {
  font-size: 1.8rem;
  font-family: "Assistant", sans-serif;
  font-weight: 300;
  letter-spacing: 0.3rem;
}

/* Format headers */
#heading {
  margin: 20px 0;
}

#verified {
  color: #4caf50;
  font-size: 12px;
  display: inline-block;
}

#unverified {
  color: #e91e63;
  font-size: 12px;
  display: inline-block;
}
