#logo {
  margin-right: 0.3rem;
}

/* Dashboard icons */

.fa-edit,
.fa-trash,
#button {
  margin-right: 1rem;
}

.fa-edit:hover,
.fa-trash:hover {
  background-color: rgb(189, 189, 189);
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0.4rem;
}

/* Navbar formatting */
#navbarbrand:hover,
#navbarlink:hover {
  color: #a5a5a5;
}

#navbarlink,
#navbarbrand {
  color: white;
  margin-right: 0.5rem;
  text-decoration: none;
}

#navbarbrand {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2rem;
}

/* Format headers */
#heading {
  margin: 20px 0;
}

#verified {
  color: rgb(80, 185, 80);
  margin-left: 0.2rem;
}
#unverified {
  color: rgb(240, 67, 67);
  margin-left: 0.2rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(18, 58, 90);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(18, 58, 90);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-switch {
  margin-right: 20rem;
}
